*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is = 10px, 10px/16px = 62.5%
  font-size: 62.5%;

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 60%;
  }

  @include respond(tab-land) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}
